# Идентификатор партнёра (получить у менеджера cpservm.com)
CLIENT_ID=your_client_id_here

# Секрет партнёра (получить у менеджера cpservm.com)
CLIENT_SECRET=your_client_secret_here

# REF-параметр партнёра (получить у менеджера cpservm.com)
REF=your_ref_here
